{% extends 'base.html' %}
{% block Sidebar %}{% include 'side-bar.html' %}{% endblock %}
{% block Content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Alarms</h4>
          <p class="card-category"> Your alarms are listed here.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            {% if count_alarms > 0 %}
            <table class="table table-hover">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
				  <th>
                  Name
                </th>
                <th>
                  Time
                </th>
                <th>
                  Days
                </th>
                <th>
                  State
                </th>
                <th>
                  Options
                </th>
              </thead>
              <tbody>

                
                {% for alarm in alarms %}
                <tr>
                  <td>
                   {{loop.index}}
                  </td>

                  <td>
                    {{alarm.description}}
                  </td>
                  <td>
                    {{alarm.time}}
                  </td>
					<td>
                    {{alarm.frequency}}
                  </td>


                  <td>
				
                     <label class="switch m5  ">
      <input type="checkbox" class="" {% if alarm.state==1 %} checked {% endif %} id="state{{alarm.id}}">
      <small class="alarm_switch" onClick="toggle({{ alarm.id }});"></small>
    </label>

                  </td>
                  <td>
                    <a href="#" onClick="edit_alarm({{alarm.id}} , '{{alarm.description}}' , {{alarm.time}});event.preventDefault();">Edit</a>/
					  <form action="" method="POST" onSubmit="return confirm('Are you sure you wish to delete?');" id="form{{alarm.id}}" style="display: inline-block"><input type="hidden" value="{{alarm.id}}" name="id" /><input type="hidden" value="delete_appliance" name="submit" /><a href="" onClick="$('form#form{{alarm.id}}').submit();event.preventDefault();">Delete</a></form>
                  </td>
                </tr>
                
                {% endfor %}
                {% else %}
                <p>
                  Nothing to show.
                </p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
	  
	  <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Reminders</h4>
          <p class="card-category"> Your reminders are listed here.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            {% if count_reminders > 0 %}
            <table class="table table-hover">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Description
                </th>
                <th>
                  Time
                </th>
                <th>
                  Date
                </th>
				  <th>
                  State
                </th>
                <th>
                  Options
                </th>
              </thead>
              <tbody>

      
                {% for reminder in reminders %}
                <tr>
                  <td>
                    {{loop.index}}
                  </td>

                  <td>
                    {{reminder.description}}
                  </td>
                  <td>
                    {{reminder.time}}
                  </td>
					<td>
                    {{reminder.day}}
                  </td>


                  <td>

                     <label class="switch m5  ">
      <input type="checkbox" class="" {% if reminder.state==1 %} checked {% endif %} id="state{{reminder.id}}">
      <small class="reminder_switch" onClick="toggle({{ reminder.id }});"></small>
    </label>

                  </td>
                  <td>
                    <a href="#" onClick="edit_alarm({{reminder.id}} , '{{reminder.name}}' , {{reminder.pin_number}});event.preventDefault();">Edit</a>/
					  <form action="" method="POST" onSubmit="return confirm('Are you sure you wish to delete?');" id="form{{reminder.id}}" style="display: inline-block"><input type="hidden" value="{{reminder.id}}" name="id" /><input type="hidden" value="delete_alarm" name="submit" /><a href="" onClick="$('form#form{{reminder.id}}').submit();event.preventDefault();">Delete</a></form>
                  </td>
                </tr>
         
                {% endfor %}
                {% else %}
                <p>
                  Nothing to show.
                </p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title" id="appliance_title">Add Alarm</h4>
          <!-- <p class="card-category">Complete your profile</p> -->
        </div>
        <div class="card-body">
          <form action="" method='POST'>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Appliance Name</label>
                  <input type="text" name='name' class="form-control" id="name" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Pin Number</label>
                  <input type="text" name='pin_number' class="form-control" id="pin_number" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="exampleFormControlSelect1">State</label>
                <div class="form-group">
                  <select class="form-control selectpicker" data-style="btn btn-link" id="state" name='state'>
                    <option value=1>ON</option>
                    <option value=0>OFF</option>
                    <!-- <option>3</option>
                      <option>4</option>
                      <option>5</option> -->
                  </select>
                </div>
              </div>
            </div>
			  <input type="hidden" id="appliance_id" name='id'/>
            <button type="submit" class="btn btn-primary pull-right" name="submit" id="submit" value='add_appliance'>Add Appliance</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block Scripts %}
<script type="text/javascript">
	function toggle(id){
		$.post('/appliances',{id:id , submit:'toggle'} , function(data){
		if(data==1){
			console.log('State Changed');
		}
		else{
			console.log(data);
		}
	});
	}
	function edit_appliance(id,name,pin){
		$('#appliance_id').val(id);
		$('#name').val(name);
		$('#name').focus()
		$('#pin_number').val(pin);
		var state;
		if($('#state'+id+':checkbox:checked').length > 0)
		 	state = 1;
		else
			state = 0;
		$('.selectpicker').selectpicker('val', state);
		$('#appliance_title').html('Edit Appliance');
		$('#submit').html('Edit Appliance');
		$('#submit').val('edit_appliance');
	}
</script>
{% endblock %}
