{% extends 'base.html' %}
{% block Sidebar %}{% include 'side-bar.html' %}{% endblock %}

{% block Content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Appliances Table</h4>
          <p class="card-category"> Your appliances are listed here.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            {% if count > 0 %}
            <table class="table table-hover">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  PIN Number
                </th>
                <th>
                  State
                </th>
                <th>
                  Options
                </th>
              </thead>
              <tbody>

                {% set i = 1 %}
                {% for appliance in appliances %}
                <tr>
                  <td>
                    {{i}}
                  </td>

                  <td>
                    {{appliance.name}}
                  </td>
                  <td>
                    {{appliance.pin_number}}
                  </td>


                  <td>
                    {% if appliance.state==1 %}
                    ON
                    {% else %}
                    OFF
                    {% endif %}
                  </td>
                  <td>
                    Edit/Delete
                  </td>
                </tr>
                {% set i=i+1 %}
                {% endfor %}
                {% else %}
                <p>
                  Nothing to show.
                </p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Add Appliance</h4>
          <!-- <p class="card-category">Complete your profile</p> -->
        </div>
        <div class="card-body">
          <form action="" method='POST'>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Appliance Name</label>
                  <input type="text" name='name' class="form-control" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Pin Number</label>
                  <input type="text" name='pin_number' class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="exampleFormControlSelect1">State</label>
                <div class="form-group">
                  <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1" name='state'>
                    <option value=1>ON</option>
                    <option value=0>OFF</option>
                    <!-- <option>3</option>
                      <option>4</option>
                      <option>5</option> -->
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" name='submit' value='add_appliance'>Add Appliance</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block Scripts %}{% endblock %}
