 <div class="sidebar" data-color="purple" data-background-color="black" data-image="./static/dashboard/assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          {{ session['user_name'] }}
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li  {% if page == 'Dashboard' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li {% if page == 'User Profile' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./user" >
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li {% if page == 'Appliances' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./appliances">
              <i class="material-icons">settings_power</i>
              <p>Appliances</p>
            </a>
          </li>
          <li {% if page == 'Alarms & Reminders' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./alarms">
              <i class="material-icons">access_alarms</i>
              <p>Alarms &amp; Reminders</p>
            </a>
          </li>
          <li {% if page == 'Expenses' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./expenses">
              <i class="material-icons">attach_money</i>
              <p>Expenses</p>
            </a>
          </li>
          <li {% if page == 'Automation' %} class="nav-item active"  {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="./automation">
              <i class="material-icons">android</i>
              <p>Automation</p>
            </a>
          </li>
<!--
          <li class="nav-item ">
            <a class="nav-link" href="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>	
-->
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>